*{
padding:0px;
margin:0px;

}
body,html{
	width: 100%;
	overflow-x: hidden;
}
body{
	overflow-y: hidden;
}
.back{
	background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(banner.jpg);
	margin-top:-1px;
	padding-top: 1px;
	background-attachment: fixed;
	overflow-y:auto;
	width: 100%;
	height: 560px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}
.welcome{
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	margin-top: 300px;
	color: #000;
}
::-webkit-scrollbar{
width: 0px;
}
.search-main-container{
	position: relative;
	float: none;
	display: block;
	max-width: 700px;
	margin:0 auto;
	margin-top: 100px;
	overflow-y: hidden;
}
.select{
	min-width: 50px;
	width: 20%;



}
.list{
	width: 100%;
	border:none;
	padding: 5px;
	height: 40px;
	border:0.25px solid #ccc;
	outline: none;
    color:#999;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#999;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#999;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#999;
}
:-moz-placeholder { /* Firefox 18- */
  color:#999;
}
.search-container{
	width:80%;
}
.search{
	width: 100%;
	border:none;
	padding: 10px 30px;
	height: 40px;
	border:0.25px solid #ccc;
	outline: none;
	border-radius: 0px 20px 20px 0px;
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-size: 16px;
	background-position:5px;
}

.float{

	float: left;
}

.middle{
	background:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), #FF5733;
	width: 100%;

	padding: 20px;

}
.middle-content{
	line-height: 2em;
	font-size:2em;
	color: white;
	font-weight: 400;
    text-align: center;
    padding: 20px 0px;


}
.middle-content>h1{
	font-size: 1.1em;
    padding-bottom: 5px;
}
.search-result-container{
	width: 100%;
	background:url(bg2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}
.search-result{
	padding: 20px 0px;
	width: 70%;
	margin: 0 auto;
	
	color: white;
	 
	
}
.wrap{
	display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.search-result>h1{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}
.row{
	overflow: hidden;
	width: 100%;
	
}
.inner-col-33
{
	max-width: 250px;
	
	
	height: auto;
	
	border-left: 5px solid #B52E31;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.3);
	
	padding-bottom: 25px;
	padding-top: 10px;
	text-align: center;
	margin-left:3.2%;
	margin-top:20px;
	
	overflow:hidden;
	
}
.rectangle{
	height:auto;
	
}
.name-sub{
	margin-top: 60px;
	
}
.footer{
	
	padding:30px 0px;
	padding-top: 20px;
	text-align: center;
	background-color: #242729;
    color: #6a737c;
    width: 100%;

}
.name-col{
	color: #222;
	font-weight: 700;
}
@media screen and (max-width:600px)
{
	
   .search-result{
   	width: 100%;
   }
   .middle-content{
   	font-size:1.2em;
   	line-height: 1.8em;
   }
   .back{
   	height: 420px;
   }
   .name-sub{

	margin-top: 0px;
	
    }
}
@media screen and (max-width:350px)
{
	.inner-col-33
    {
    	
     
   }
 }