*{
	margin:0px;
	padding: 0;
   font-family: 'Amaranth', sans-serif !important;

   
}
body,html{
	width: 100%;
	overflow-x: hidden;
}
body{
		overflow-y: hidden;

}
.upper{
	width: 100%;
	background-color: #008080;
    padding-bottom: 30px;
	margin-top: -1px;
	padding-top: 1px;
	margin-top:60px;

	
}
.photo{
	width: 180px;
	height: 180px;
	border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
	margin-top: 20px;

}
.cam{
	display: none;
}
.camera-img{
	width: 40px;
	position: relative;
	display: block;
	float: none;
	margin: -1px;
	padding: 1px;
	margin: 0 auto;
	position: relative;
	top:70px;
	cursor: pointer;
}
.overlay-photo{
	opacity: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
}
.photo:hover>.overlay-photo{
	
	opacity: 1;
	
	transition: 0.8s ease;
}
.float{
	
	position: relative;
	float: none;
	display: block;
	margin-top:20px;
}
.content-container{
	color: #000;
	line-height:2.5em;
	    width: 80%;
		margin: 0 auto;
		margin-top: 20px;
		box-sizing: border-box;
		text-align: center;
		width: 100%;
}

.upload{
	
	width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.upload-butt{
display: block;
background-color: #fff;
	color: #000;
border:none;
padding: 9px 10px;
cursor: pointer;
border-radius: 2px;
margin:0 auto;
outline: none;

}
.upload-butt:hover{
	background-color: #000;
	color: #fff;
}

.change-color:hover{
color:#999;
}
.update-box{
	
	max-width: 300px;
    position:absolute;
    z-index: 9;
    top:80px;
    left: 0px;
    right: 0px;
    padding-bottom: 20px;
    margin:0 auto;
    background-color: rgba(255,255,255,0.8);
    overflow-y: auto;
    margin-top: -1000px;
    
  
}
.update-butt,.change-color,.float>a{
	width: 120px;
	margin: 0 auto;
}
.update-butt:hover{
	color:#999;
	cursor: pointer;

}


.input{
	width: 90%;
	position: relative;
	float:none;
	display: block;
	margin: 0 auto;
	height: 40px;
	border:none;
	padding-left: 5px;
	margin-top: 10px;

}
.first-input{
	margin-top: 30px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#999;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#999;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#999;
}
:-moz-placeholder { /* Firefox 18- */
  color:#999;
}
.butt{
	border:none;
	background-color: #C70039;
}
.cross{
	width: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.myactivity{
	width: 100%;
	background: #1A5276;
	margin: -1px;
	padding: 1px;
	margin: 0 auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}
.head-myactivity{
	text-align: center;
	margin-top: 10px;
	font-family: 'Courgette', cursive !important;
	font-size:30px;
	font-weight: 400;
}
.body-myactivity{

		margin-top:20px;

}
.inner-col-33{
	width: 33.33%;
	float: left;
	overflow-y: hidden;
	text-align: center;
	padding: 4px 0px;
	margin-top: 5px;


}
.round{
	width: 150px;
	height: 150px;
	border-radius:50%;
	color:#000;
	background:linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url(notes.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	display: block;
	float: none;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 41px;
	background-color: #fff;
	
}
.footer{
	margin: -1px;
	padding: 1px;
	padding:30px 0px;
	text-align: center;
	background-color: #242729;
    color: #6a737c;
    width: 100%;

}
::-webkit-scrollbar{
 width: 0px;
	}
@media screen and (max-width:500px)
{
	.inner-col-33{
		width: 49%;
		
	}
}
@media screen and (max-width:300px)
{
	.inner-col-33{
		width: 100%;
		float: none;
		
	}
}